* {
    /* text-align: center; */
    border-style: solid;
    border-width: 1px;
}

body {
    background-color: rgb(132, 221, 221);
}

header {
    display: flex;
    position: relative;
    padding-left: 10px;
    top: 10;
    background-color: burlywood;
    margin: 0px;
    justify-content: space-between;
    min-width: 270px;
}

.footer {
    width: 100%;
    color: white;
    padding-left: 10px;
    text-align: left;
    background-color: black;
    position: absolute;
    bottom: 1;
    left: 0;
}

#header {
    display: block;
    top: 0;
}

p.hook-quote {
    display: none;
    margin: auto;
}
.link {
    color: black;
    background-color: white;
}
.hamburger {
    margin: auto;
    text-align: right;
    color: black;
    font-size: xx-large;
    display: block;
}

.nav-tray {
    display: block;
    margin: auto;
    margin-right: 10px;
}

.about-me {
    border-radius: 10px;
    text-align: center;
    background-color: burlywood;
    width: 80%;
    margin: 20px auto;
}

.about-me img {
    border-radius: 100px;
}

.carousel-container {
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
    margin:15px auto;
    padding: 20px;
    background-color: burlywood;
    height: auto;
    
}

.carousel-container img {
    max-width: 100%;
    max-height: auto;
}

.carousel-container img, .carousel-container h1 {
    margin: auto;
}

.carousel-container p {
    width: 30%;
    background-color: gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: middle;
    margin: -4px auto 0px auto;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.contact-me {
    background-color: burlywood;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.submission {
    width: 70%;
}
@media (min-width: 426px) {
    p.hook-quote {
        display: block;
    }
    header {
        display: block;
    }
    .nav-tray {
        display: flex;
        padding-top: 10px;
        justify-content: space-evenly;
    }
    .hamburger {
        display: none;
    }
    .link{
        display: block;
    }
    .about-me {
        display: flex;
        justify-content: space-evenly;
        max-width: 700px;
    }
    .carousel-container {
        max-width: 80%;
    }
}

@media (min-width: 769px) {
    .carousel-container {
        max-width: 780px;
    }
}
